<div class="cartItemContainer">
  <!-- TODO change to real Product here -->
  <img src="/assets/images/{{ data().product_id }}" alt="{{ data().product_id }} image" />
  <div class="itemCount">{{ data().count }}</div>
  <div class="itemInfo">
    <div class="itemDetails">
      <!-- {{ data().product.name }} -->
        NAME here for {{ data().product_id }}
      <div class="itemPrice">
        <!-- {{ data().product.price * data().count | currency }} -->
          PRICE here
      </div>
    </div>
    <div class="buttons">
      <button class="increaseItemBtn" (click)="increaseItemQuantity()">
        <i class="fa-solid fa-plus"></i>
      </button>
      <button class="decreaseItemBtn" (click)="decreaseItemQuantity()">
        <i class="fa-solid fa-minus"></i>
      </button>
    </div>
  </div>
</div>
