.content {
  text-align: center;
  h4 {
    margin: 60px 0 30px 0;
    color: green;
  }

  .smile {
    width: 200px;
    height: 200px;
    margin: 0 0 50px 0;
    align-self: center;
    align-content: center;
    color: green;
  }
}
