<div class="form-signin">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    @if (errorMessage) {
      <div class="alert alert-danger">{{errorMessage}}</div>
    }

    <div class="form-floating mb-3">
      <input
        id="emailInput"
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="name@example.com"
      />
      <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        id="passwordInput"
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
      <label for="passwordInput">Password</label>
    </div>

    <div class="checkbox my-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center mt-3">
      <p>Not a member? <a [routerLink]="['/registration']">Register</a></p>
    </div>
  </form>
</div>
