.mainMenu {
  background-color: #e3f2fd;
  padding: 10px 15px;
  @media (min-width: 500px) {
    //padding: 0 60px;
  }
}

.main {
  .content {
    margin: 20px 15px;
    @media (min-width: 500px) {
      margin: 30px 60px;
      // max-width: 800px;
    }
  }
}

footer {
  .content {
    text-align: center;
  }
}
