<app-header />

<!-- <main class="main flex-shrink-0 h-100"> -->
@if (isLoading()) {
<app-loader id="loader" />
}

<!-- Add alerts here -->
@for (alert of alertService.getAlerts()() | keyvalue; track alert.key) {
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Eoy!</strong>{{ alert.key }} - {{ alert.value.message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
}

<div class="content">
  <router-outlet />
</div>

<!-- </main> -->
