<nav class="navbar navbar-expand-lg navbar-light mainMenu">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">NG signals shop</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <i class="fa-solid fa-cart-plus"></i>
          {{ cartService.getCartItemsCount() }} items
        </button>
      </div>
    </div>
  </div>
</nav>

<main class="main">
  <div class="content">
    <router-outlet />
  </div>
</main>
<footer class="py-3 mt-3 bg-light">
  <div class="container">
    <p class="text-secondary">Dan Efimov &#64; 2024</p>
  </div>
</footer>
