/* You can add global styles to this file, and also import other style files */
main {
  max-width: 1000px;
  align-self: center;
  background-color: white;
}

.footer-container {
  background-color: #f4f4f4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid #e4e4e4;
  width: 50%;

  @media screen and (max-width: 660px) {
    width: 90%;
  }
}
